{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="form-wrap">
        <h3>Конвертер валют</h3>

        <div class="content">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form">
                    <input type="number" name="from-amount" placeholder="Сумма" class="form-control"
                           {% if from_amount %}
                           value="{{ from_amount }}"
                           {% endif %}>
                    <select name="from-curr" class="form-control">
                        {% for curr in currencies %}
                        <option value="{{ curr }}"
                                {% if from_curr == curr %}
                                selected
                                {% endif %}
                        >{{ curr }}
                        </option>
                        {% endfor %}
                    </select>
                    <select name="to-curr" class="form-control">
                        {% for curr in currencies %}
                        <option value="{{ curr }}"
                                {% if to_curr == curr %}
                                selected
                                {% endif %}
                        >{{ curr }}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <hr>
                {% if converted_amount %}
                <div class="card">
                    <div class="card-header">
                        <h5>Отдаём <b>{{ from_cur }}</b> Получаем <b>{{ to_curr }}</b></h5>
                    </div>
                </div>
                <div class="card-body">
                    Курс {{ from_curr }} к {{ to_curr }}: {{ curs }}
                    <br>
                    {{ converted_amount }}
                </div>
                {% endif %}

                <div class="submit-btn">
                    <button>Расcчитать</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
